
/* Main Content */

.card{
    height: 100%;
}

.card:hover .fas{
    font-size: 5rem !important;
}

.content .card-body{
    position: relative;
}

.content .card-body h1{
    font-size: 3rem;
}

.content .card-body .fas{
    font-size: 4.5rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 20px;
    opacity: 0.4;
    transition: all 100ms;
}
